@import 'ui-kit/styles';

.ruleText {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &-title {
    @include Ubuntu-18-bold;
  }

  &-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include Ubuntu-16-regular;
  }
}
